/* Colors */

$primary-color : #cdde1c;
$secondary-color: #292c06;
$tertiary-color: #f0f5bb;
$bg-color-main: #ece9e7;
$border-color: gray;

/* Text */
$font-family: sans-serif;
$primary-text-color: #fff;
$secondary-text-color: #000;

/* media */
$breakpoint-mobile: 769px;